db.sqlite3
*.pyc

*.sublime-project

*.sublime-workspace

.idea/*

.fab_tasks~

.env

*.db

.cache
.coverage
CACHE/
doctor_avatars/
.ipython
.bash_history
.local
.python_history
.python-version
.DS_Store
